<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex justify-center">
        <div class="mb-6">
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Buscar peliculas...</label>
            <input type="text" id="default-input" [formControl]="form" (keydown.enter)="onBuscarPelicula()" placeholder="Batman"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>      
    </div>
    <div class="flex justify-end rounded-md shadow-sm px-4 py-2 mr-8 mb-4" role="group">
        <button type="button" (click)="onAgregarPelicula()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
          Agregar Pelicula
        </button>
      </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    N°
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Año Estreno
                </th>
                <th scope="col" class="px-6 py-3">
                    Categoria
                </th>
                <th scope="col" class="px-6 py-3">
                    Poster
                </th>
                <th scope="col" class="px-6 py-3">
                    Editar
                </th>
                <th scope="col" class="px-6 py-3">
                    Eliminar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of peliculas$ | async;" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" >
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    1
                </th>
                <td class="px-6 py-4">
                    {{item.Title}}
                </td>
                <td class="px-6 py-4">
                    {{item.Year}}
                </td>
                <td class="px-6 py-4">
                    {{item.Type}}
                </td>
                <td class="px-6 py-4">
                    <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  (click)="onBuscarPeliculaPorId(item.imdbID)"
                  >
                    ver
                  </button>
                </td>
                <td class="px-6 py-4">
                    <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    (click)="onEditarPelicula(item.imdbID)"
                  >
                    editar
                  </button>
                </td>
                <td class="px-6 py-4">
                    <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    (click)="onEliminarPelicula(item.imdbID)"
                    >eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

