<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-xl lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Desafio Neoris
          <br class="hidden lg:inline-block">Api-Peliculas
        </h1>
        <ul class="max-w-xl  space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 py-8">
          <li >
            1. Elige alguna API free de este sitio https://rapidapi.com/hub
          </li>
          <li>
            2. Construye una App en Angular 5+ (De preferencia la que mejor conozcas) usando como UI Angular Material (si usas uno distinto,
            nos cuentas el porque decidiste por otra UI).
          </li>
          <li>
            3. Necesitamos que tu App sea responsive.
          </li>
          <li>
            4. Necesitamos que tu App tenga la capacidad de ser un CRUD que trabaje de forma temporal con la DATA de la API, es decir,
            debemos poder eliminar, editar y crear data temporalmente, si actualizamos la data debe volver a su estado inicial.
          </li>
          <li>
            5. Procura mantener la data en memoria (localStorage).
          </li>
          <li>6. Validación de inputs respecto a los datos que se requieran ingresar.</li>
      </ul>
        <div class="flex justify-center">
          <button routerLink="lista-peliculas" class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg">Probar</button>
        
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="https://m.media-amazon.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg">
      </div>
    </div>
  </section>